.section {
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: yellow;
  margin-bottom: 5px;
  font-size: 25px;
}

#wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.block {
  flex: 0 350px;
  width: 350px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 100px;
  background: red;
  margin: 5px;
  font-size: 40px;
  color: #000;
}
